/*CSS for slider 1*/
#ARTICLE-TITLE-SLIDER1 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 1*/


/*CSS for slider 2*/
#ARTICLE-TITLE-SLIDER2 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 2*/


/*CSS for slider 3*/
#ARTICLE-TITLE-SLIDER3 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 3*/


/*CSS for slider 4*/
#ARTICLE-TITLE-SLIDER4 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 4*/


/*CSS for slider 5*/
#ARTICLE-TITLE-SLIDER5 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 5*/

/*CSS for slider 6*/
#ARTICLE-TITLE-SLIDER6 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 6*/


/*CSS for slider 7*/
#ARTICLE-TITLE-SLIDER7 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 7*/


/*CSS for slider 8*/
#ARTICLE-TITLE-SLIDER8 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 8*/


/*CSS for slider 9*/
#ARTICLE-TITLE-SLIDER9 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 9*/


/*CSS for slider 10*/
#ARTICLE-TITLE-SLIDER10 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
}
/*CSS for slider 10*/