.k-tree:last-child {
    margin-bottom: 0;
}

.k-tree {
    margin: 7px 0;
    overflow: auto;
}

.k-tree > .jqtree-tree {
    margin: 0;
    padding: 0;
}

.jqtree-tree ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background: transparent;
    float: left;
    min-width: 100%;
}

.k-tree .jqtree-selected > .jqtree-element {
    background: rgba(0,0,0,0.065);
    color: inherit;
}

.jqtree-whitespace, .jqtree-toggler, .k-ui-namespace .jqtree-icon {
    width: 26px;
    text-align: center;
}

.jqtree-whitespace, .jqtree-toggler, .k-ui-namespace .jqtree-icon, .k-ui-namespace .jqtree-title {
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 26px;
    vertical-align: middle;

}

.jqtree-toggler{
	text-decoration:none !important;
	cursor:pointer;
}

.k-js-category-tree a{
	color:#000;
}